<a href="{{ project.url }}">
    <img class="og-scale" src="{{ project.url }}{{project.data.cover}}" alt="{{project.data.title}} cover image" />
    <h3 class="project-title">{{project.data.title}}</h3>
</a>
<p class="project-meta">{{project.data.location}}</p>
<p class="project-meta">{{project.data.media}}</p>